.img-thumbnail {
    width: 300px;
    height: 300px;
}

.bubble {
    position: relative;
    min-height: 130px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
}

a:hover {
    cursor: pointer
}

.img {
    height: 100px !important;
    width: 145px !important;
}

@keyframes turn {
    0% {
        top: 0px;
        color: black
    }
    25% {
        top: 200px;
    }
    50% {
        top: 100px;
        color: black;
        height: 200px;
    }
    75% {
        top: 200px;
    }
    100% {
        top: 0px;
    }
}

@keyframes blink {
    0% {
        fill: rgb(142, 190, 226);
    }
    50% {
        fill: rgb(156, 209, 249);
    }
    100% {
        fill: rgb(142, 190, 226);
    }
}

.btn {
    transition: 0.5s;
    -webkit-animation: blink 1.5s infinite;
    /* Safari 4+ */
    -moz-animation: blink 1.5s infinite;
    /* Fx 5+ */
    -o-animation: blink 1.5s infinite;
    /* Opera 12+ */
    animation: blink 1.5s infinite;
}