.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    height: 150px !important;
    width: 150px !important;
}

.img {
    height: 143px !important;
    width: 145px !important;
}

.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    /* background-color: #fff; */
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

li {
    list-style: none;
    padding: 0 5px;
    display: inline;
    float: left;
}